**/*.log
**/*.jpg
**/*.png
**/*.mp4
**/*.avi
**/Files/*
**/tmp/
**/lib/
**/screenshots/
**/videos/
**/node_modules/
**/test-results/
**/playwright-report/
**/jsonReports/
**/reports/
**/playwright/.cache/
.DS_Store

